<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "ja" }}">

  {% include head.html %}

  <body>
<script type="text/javascript">
  function toggleMenu()
  {
    var menu = document.getElementsByClassName("trigger")[0]

    var display_val = menu.style.display
    if (display_val == "block")
    {
      menu.style.display = "none"
    }
    else
    {
      menu.style.display = "block"
    }
  }
</script>
    {% include header.html %}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}

  </body>

</html>
